div.form-wrapper {
    font-family: Open Sans, serif;
    font-style: normal;
    font-weight: 600;

    height: 700px;
    min-width: 610px;
    width: 50%;
    margin: 0 0 0 25%;
    display: block;
}

div.full-name {
    font-size: 32px;
    margin-top: 40px;
    text-align: center;
}

div.panel {
    margin-top: 21px;
    width: 100%;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;

    font-weight: 300;
    font-size: 18px;
    line-height: 30px;


    background-color: #f9f9f9; /* Set the background color to white */
    border-radius: 5px; /* Optional: round the corners of the div */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Horizontal offset, vertical offset, blur radius, and color of the shadow */
    max-width: 600px; /* Maximum width of the div */
    border: 1px solid #ddd; /* Optional: adds a subtle border */
}

div.contacts {
    width: 100%;
    display: table;
}

div.contact {
    display: table-row;
}

div.contact-type {
    display: table-cell;
    text-align: right;
    padding-right: 10px;
    width: 1%;
    white-space: nowrap;

    margin-right: 10px;
    color: #333;
}

div.contact-value {
    display: table-cell;
    text-align: left;
    color: #0056b3;
}

a {
    text-decoration: none;
    color: inherit;
}

.collapse-button {
    background-color: inherit;
    font-size: 22px;
    font-family: Open Sans, serif;
    cursor: pointer;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    border: none;
    border-radius: 10px;
    text-align: left;
    outline: none;
}

.collapse-button:hover {
    background-color: lightgray;
}

.collapse-button:after {
    content: '↓';
    float: right;
}

.activated:after {
    content: '↑';
}

.collapsible-content {
    max-height: 0;
    overflow: hidden;
    margin-left: 6px;

    /*transition: max-height 0.2s ease-out;*/
}

.achievements {
}

.list-container {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 40px;
    padding-right: 5px;
    list-style-type: square;
}

.qualifications {
}

.text-container {
    line-height: 1.6; /* Spacing between lines of text */
    padding-left: 20px;
}